body {
  margin: 0;
  background-color: #e3e4e0;
}

.albums {
  font-size: 0;
  filter: drop-shadow(0 0 3px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: transform 0.3s;
  transition-property: grid-template-columns;
}

.album {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.album > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body.charts {
  background-color: #3e568b;
}

#charts {
  padding: 1rem;
}

.chart {
  background-color: rgba(255,255,255,0.85);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 4px;
  max-width: 30rem;
  margin: 0 auto 1rem;
}

.chart-bars {
  display: flex;
  align-items: end;
  justify-content: center;
}

.chart-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.85rem;
}

.chart-bar-height {
  text-align: center;
  font-size: 0.8rem;
}

.chart-bar-container {
  position: relative;
  width: 14%;
}

.chart-bar {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid black;
}

.chart-bar-album {
  height: auto;
  width: 100%;
}

.chart-bar-label {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 4px;
}

.popularity-chart-album {
  width: 40px;
  height: 40px;
  z-index: 1;
  box-shadow: 0 0 2px;
}

.popularity-row {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}

.popularity-row-albums {
  font-size: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
}

.popularity-row-albums::after {
  position: absolute;
  border-bottom: 1px solid lightgrey;
  content: " ";
  width: 100%;
}

.popularity-row-label {
  width: 2.5rem;
  text-align: center;
}

#popularity-chart {
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#popularity-chart .chart-header {
  margin-bottom: 1rem;
}

.popularity-chart-container {
  padding: 0 1rem;
}