body {
  margin: 0;
  background-color: #e3e4e0;
}

.albums {
  font-size: 0;
  filter: drop-shadow(0 0 3px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: transform 0.3s;
  transition-property: grid-template-columns;
}

.album {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.album > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body.charts {
  background-color: #3e568b;
  font-family: 'Open Sans', sans-serif;
}

#charts {
  padding: 1rem;
}

.chart {
  background-color: rgba(255,255,255,0.85);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 4px;
  max-width: 30rem;
  margin: 0 auto 1rem;
}

.chart-bars {
  display: flex;
  align-items: end;
  justify-content: center;
}

.chart-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.85rem;
}

.chart-bar-height {
  text-align: center;
  font-size: 0.8rem;
}

.chart-bar-container {
  position: relative;
  width: 14%;
}

.chart-bar {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid black;
}

.chart-bar-album {
    height: auto;
    width: 100%;
}

.chart-bar-label {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 4px;
}