body {
  margin: 0;
  background-color: #e3e4e0;
}

.albums {
  font-size: 0;
  filter: drop-shadow(0 0 3px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: transform 0.3s;
  transition-property: grid-template-columns;
}

.album {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.album > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body.charts {
  background-color: #10102c;
}

#charts {
  display: flex;
  flex-wrap: wrap;
}

.chart {
  display: flex;
  align-items: end;
  background-color: white;
  border-radius: 8px;
}

.chart-header {
  text-transform: uppercase;
}

.chart-bar-height {
    position: absolute;
    top: -1.2rem;
    left: 0;
}

.chart-bar-container {
    position: relative;
}

.chart-bar {
    display: flex;
}

.chart-bar-album {
    max-width: 50px;
    height: auto;
}
